[hidden] {
    display: none !important;
}

:root {
    --mic-volume-bar-color: #69ce2b;
    --mic-volume-bar-backGroundColor: #e6e7e8;
}

html {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#volumebar {
    background-color: transparent;
    height: 20px;
    width: 100%;
}

#mutebar {
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--muted-bar-color, #ce2b2bff) !important;
}

#pidRoot {
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.pid {
    width: calc(10% - 10px);
    height: 10px;
    display: inline-block;
    margin: 5px 2px;
    border-radius: 2px;
}

[data-is-muted="true"] #mutebar {
    display: block;
    height: var(--muted-bar-height, 2px);
    transition: height 0.2s;
    animation-timing-function: ease-in-out;
}

[data-is-muted="true"] #pidRoot,
[data-is-muted="true"] .pid {
    display: none !important;
    background-color: transparent;
}
